body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*############   TOPBAR (TOP) START  ##############*/
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #333333;
  text-align: center;
  margin-left: 23px;
  padding-top: 23px;
  padding-left: 2px;
  padding-right: 0px;
  padding-bottom: 18px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.active {
  background-color: #4487FB;
  font-weight: bold;
  color: white;
  padding: 7.5px 13px;
  justify-self: center;
  margin-top: 16px;
  border-radius: 2px;
  text-decoration: none;
}

.topnav-right {
  float: right;
  padding-right: 30px;
}

/*############   TOPBAR (TOP) END   ###############*/
/*############   NAVBAR (BOTTOM) START    #############*/

.navbar {
  overflow: hidden;
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 16.5px;
  border-top: 1px solid #ddd;
}

.navbar a {
  float: left;
  display: block;
  color: #5E636B;
  text-align: center;
  padding: 12px 13.5px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar-right {
  float: right;
  padding-right: 33px;
}

/*############   NAVBAR (BOTTOM) END    #############*/
/*############   CENTER SEARCH START     #############*/

.centered-search {
  display: block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 30.4%;

  margin-top: 135px;
}

.centered-search .search-bar:hover {
  box-shadow: 2px 2px 10px #d8d7d7;
}

/* Unfortunately, I realised the blinking cursor problem too late
    To redo, it would take me an extra 20min

.centered-search .wrapper input{
  padding-left: 47px;
}
*/

.centered-search .search-bar {
  font-size: 16px;
  margin-top: 23px;
  outline: none;
  margin-bottom: 25px;
  width: 100%;
  height: 44px;
  border-radius: 30px;
  border-width: 0.5px;
  border: 0.5px solid rgb(247, 206, 206);
}

.centered-search .buttons {
  margin-right: 10px;
}

.centered-search .buttons button:hover{
  border: 0.5px solid rgb(240, 199, 199);
  color: black;
  box-shadow: black;
  border-radius: 5px;
}

.centered-search .buttons button{
  font-size: 14px;
  color: #5E636B;
  padding: 10px 17px;
  margin: 3px;
  margin-top:4px;
  background-color: #F4F4F4;
  border: 0;
  border-radius: 4px;
}

.wrapper {
  position: relative;
}

.centered-search .google-mic {
  width: 14px;
  position: absolute;
  top: 37px;
  right: 22px;
}
.centered-search .magnifying-glass {
  width: 17px;
  position: absolute;
  top: 38px;
  left: 16px;
}

/*############   CENTER SEARCH START     #############*/